@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

:root{
    /* color pallet */
    --greenText: #54E6AF;
    --darkBlueText:#2C344B;
    --middleBlueText: #5A668A;
    --lightBlueText: #C2CBE5;
    --blackText: #121725;
    --whiteText: #FFFFFF;

    /* Typography */
    --fontTight: 'Chivo', sans-serif;
    /* Title */
    --fontSizeTitle: 52px;
    --fontLineTitle: 62px line;
    --upperCase: uppercase;
    /* Body */
    --fontSizeBody: 52px;
    --fontLineBody: 62px line;







}