@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

/*=================
  Table of Contents
  1. Global Variables
  2. Layout
  3. Components
  4. Typography
  5. Media Queries
  =================*/

/*==========
1.Global Variable
============*/

:root{
    /* color pallet */
    --greenText: #54E6AF;
    --darkBlueText:#2C344B;
    --middleBlueText: #5A668A;
    --lightBlueText: #C2CBE5;
    --blackText: #121725;
    --whiteText: #FFFFFF;

    /* Typography */
    --fontTight: 'Chivo', sans-serif;
    /* Title */
    --fontSizeTitle: 52px;
    --fontLineTitle: 62px line;
    --upperCase: uppercase;
    /* Body */
    --fontSizeBody: 52px;
    --fontLineBody: 62px line;

}

/*==========
2. Layout
============*/

body{
    font-family: var(--fontTight);
    margin: 0;
    
}

.main-columnLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blackText);
}

.top-row{
    background-color: var(--blackText);
    width: 100%;
    margin: 5px;
    text-align: center;
    height: 15vh;
}

.bottom-row{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    justify-content: center;
}

.bottom-row > div{
  background-color: DodgerBlue;
  color: white;
  width: 50%;
  margin: 5px;
  text-align: center;
  height: 75vh; /*line-height: typography;*/
}

.bottom-row div:nth-child(2){
  flex-basis: 1200px;
}

.footer-row{
  background-color: var(--blackText);
  width: 100%;
  margin: 5px;
  text-align: center;
  height: 10vh;
}

.text-container{
  text-align: left;
  margin-top: 160px;
  line-height:0.2;
  width: 850px;
  height: 645px;
  background-color: var(--blackText);
  position: absolute;
  z-index: 1;
}

.text-container > div{
  margin-top: 200px;

}

.word-wrap{
  width: 400px;
  margin-left: 140px;
}

#text-wordwrap{
  line-height:normal;
  
}

.input-button-wrapper{
  display: inline-block;
}

input{
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  background-color: var(--middleBlueText);
  margin-left: 140px;
  height: 40px;
  width: 385px;
}
input:focus{
  outline: none;
}

button{
  height: 36px;
  width: 150px;
  margin-left: -23%;
  border-radius: 25px;
  background-color: var(--greenText);
  color: var(--whiteText);
}


/*==========
3.Components
============*/

.host-img{
  position: relative;
  
}

.pattern-img{
  position: relative;
  margin-left: 645px;
  margin-top:-60px;
}


/*==========
4.Typography
============*/

.publish-text{
  color: var(--greenText);
  font-size: var(--fontSizeTitle);
  text-transform: uppercase;
  margin-left: 140px;
  
}
.everywhere-text{
  color: var(--whiteText);
  font-size: var(--fontSizeTitle);
  text-transform: uppercase;
  margin-left: 140px;
  
}

::placeholder {
    color: var( --whiteText );
    text-align: center;
   
}

/*==========
  5.Media Queries
============*/